extends layout

block content
    nav.navbar.navbar-default(role='navigation')
        div.navbar-header
            a.navbar-brand(href='#') Info News Reeader App
        p.navbar-text 
            a(href='https://github.com/gehlotchirag/infonews') 
            ul.nav.navbar-nav.navbar-right
                li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown' )
                        | FrameWork description
                    ul.dropdown-menu
                        li
                          a(href='http://nodejs.org/') 
                              img(src='http://nodejs.org/images/baby-node.svg', width='12')
                              | &nbsp; Node js
                        li
                          a(href='http://expressjs.com/') Expressjs (Node Framework)
                        li.divider
                        li
                          a(href='http://angularjs.org/') 
                                img(src='https://pbs.twimg.com/profile_images/2149314222/square.png', width='16')
                                | &nbsp; AngularJs
                          
                        li
                            a(href='http://jade-lang.com/') 
                                  img(src='http://technotip.com/wp-content/uploads/nodejs/jade-template-engine-nodejs-express-web-framework.png', width='16')
                                  | &nbsp; Jade - Template Engine
                        li.divider
                        li
                          a(href='https://www.mongodb.org/') 
                                img(src='http://www.joyent.com/content/07-blog/722-joyent-to-sponsor-and-present-at-mongosv-2012/mongodb-leaf.png', width='16')
                                | &nbsp; Mongo Db
                        li.divider
                        li
                          a(href='https://github.com/gehlotchirag/infonews') 
                                img(src='https://github.global.ssl.fastly.net/images/modules/logos_page/GitHub-Mark.png', width='16')
                                | &nbsp; GitHub Code
                          
        

    div.container
        div.row
        br
        br
        br
    div.container
        div.row
            ng-switch(on='anyItemOpen()')
                ul#out(data-role='listview', data-inset='true', ng-init="userlist= #{JSON.stringify(userlist)}")
                        li(data-role='list-divider')
                            | Thrusday, March 13, 2014
                            span.ui-li-count {{userlist.length}}
                            li(ng-repeat='user in userlist | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage' jqm-collapsible-repeat )
                                a(ng-click="open(user)") {{user.description | limitTo: pagination.perPage*2 }}
                                    P {{user.description | limitTo: pagination.perPage*40 }}
                                    p.ui-li-aside
                                      strong 9:18
                                      | AM
                div(ng-switch-when='true')
                    div.panel.panel-default
                        div.panel-heading
                            a(ng-click='close()') < Back
                            center Headline:: {{opened.description | limitTo: pagination.perPage*2 }}
                        div.panel-body
                            div#news.well(ng-controller='ItemController')         
                                | {{opened.description}} 
                    div.input-group(ng-controller="max")
                        input.form-control(type='text', placeholder='Enter your comments!' , ng-model='txt', value="hhhh" )
                        span.input-group-btn
                            button.btn.btn-default(type='button' , ng-click="addcomment(opened.id,txt)") Comment!
                    ul.list-group
                        li(ng-repeat='user in opened.comments' class='list-group-item')
                            P {{user.content | limitTo: pagination.perPage*20 }}
        
            div.row#button
                div.col-sm-6
                    button(ng-click="pagination.prevPage()", data-role='button',data-icon="arrow-l" ,data-inline='true') Previous
                div.col-sm-6
                    button(style='float: right;' ng-click="pagination.nextPage()", data-role='button',data-icon="arrow-r" ,data-iconpos="right", data-inline='true') Next
            #tooltip.col-md-3(style='position: absolute; z-index: 10; visibility: hidden; background-color: rgb(255, 255, 255); padding: 10px 10px; box-shadow: rgb(0, 0, 0) 0px 0px 10px; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; top: 284px; left: 279.5px; background-position: initial initial; background-repeat: initial initial;')
                div#comment Intrested in seeing comments?  
                    a(href='#' ng-click="showcomm()" id="clicker") yes 
                div#showcmt
                    div.input-group(ng-controller="max")
                        input.form-control(type='text', placeholder='Enter your comments!' , ng-model='txt', value="hhhh" )
                        span.input-group-btn
                            button.btn.btn-default(type='button' , ng-click="addcom(opened.id,txt)") Comment!
                    div#commented.well{{txt}}         
                                
            
            